<template>
    <div class="row">
        <h3>Quotes added</h3>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" area-value-min="0" area-valuemax="100"
                :style="{width: (quoteCount / maxQuotes) * 100 + '%'}"
            >
                {{ quoteCount }} / {{ maxQuotes }}
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['quoteCount', 'maxQuotes']
    }
</script>

<style></style>